@import "../../../assets/variables/variables.scss";

.btn {
    &__wrapper {
        // padding-top: 60px;
    }
}

.btn__default {
    background-color: transparent;
    color: #f4f4f4;
    font-weight: bold;
    margin: 15px;
    border: none;
}